# Compiled class files
*.class

# Maven target directory
/target/

# Eclipse specific files
.classpath
.project
.settings/

# VS Code
.vscode/

# IntelliJ specific files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
/ReservaHotel/target/
